                                                                .sticky_header {
                                                                    display: flex;
                                                                    width: 100%;
                                                                    background-color: $header_footer_color;
                                                                    position: fixed;
                                                                    top: 0;
                                                                    left: 0;
                                                                    right: 0;
                                                                    z-index: 3;
                                                                }
                                                                
                                                                .header_nav {
                                                                    width: 50%;
                                                                    font-size: 1.3em;
                                                                    text-align: right;
                                                                    padding: 3%;
                                                                    text-align: center;
                                                                }
                                                                
                                                                .nav_thumbnail {
                                                                    text-decoration: none;
                                                                    color: $font_color;
                                                                    transition: all, 1.5s, ease;
                                                                    &:hover {
                                                                        transform: 1.3em;
                                                                        text-shadow: 2px 2px 1px rgb(231, 153, 8), 0 0 1em rgb(233, 247, 112), 0 0 0.2em rgb(224, 238, 34);
                                                                    }
                                                                }
                                                                
                                                                .sun1,
                                                                .sun2,
                                                                .sun3 {
                                                                    font-size: 0.8em;
                                                                    color: gold;
                                                                    -webkit-animation-name: heart_beat;
                                                                    animation-name: heart_beat;
                                                                    -webkit-animation-duration: 2s;
                                                                    animation-duration: 2s;
                                                                    -webkit-animation-iteration-count: infinite;
                                                                    animation-iteration-count: infinite;
                                                                    -webkit-animation-timing-function: ease-in-out;
                                                                    animation-timing-function: ease-in-out;
                                                                    @-webkit-keyframes heart_beat {
                                                                        50% {
                                                                            opacity: 0;
                                                                            transform: scale(0.7) translate(0.8px);
                                                                        }
                                                                    }
                                                                    @keyframes heart_beat {
                                                                        50% {
                                                                            opacity: 0;
                                                                            transform: scale(0.7) translate(0.8px);
                                                                        }
                                                                    }
                                                                }
                                                                
                                                                .sun2 {
                                                                    -webkit-animation-delay: 0.4s;
                                                                    animation-delay: 0.4s;
                                                                }
                                                                
                                                                .sun3 {
                                                                    -webkit-animation-delay: 0.8s;
                                                                    animation-delay: 0.8s;
                                                                }
                                                                
                                                                .bioutifoule,
                                                                .vericline,
                                                                .contact_form {
                                                                    text-decoration: none;
                                                                    display: inline;
                                                                }
                                                                
                                                                h1 {
                                                                    color: $font_color;
                                                                    font-size: 2.8em;
                                                                    margin: 0 auto;
                                                                    &::before {
                                                                        content: "\273F";
                                                                        color: $font_color;
                                                                    }
                                                                }
                                                                
                                                                .header_title {
                                                                    width: 50%;
                                                                    padding: 3%;
                                                                    text-align: center;
                                                                }
                                                                
                                                                .header_intro {
                                                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                                    font-size: 1em;
                                                                    margin: 0 auto;
                                                                }
                                                                
                                                                @media screen and (max-width: 980px)
                                                                /*and (orientation: landscape)*/
                                                                
                                                                {
                                                                    .sticky_header {
                                                                        font-size: 0.9em;
                                                                    }
                                                                    .header_title {
                                                                        padding-top: 8%;
                                                                    }
                                                                    .nav {
                                                                        display: flex;
                                                                        flex-direction: column;
                                                                        text-align: left;
                                                                        margin-left: 30%;
                                                                        line-height: 1.7em;
                                                                    }
                                                                }
                                                                
                                                                @media screen and (max-width:680px) {
                                                                    .sticky_header {
                                                                        display: flex;
                                                                        flex-direction: column;
                                                                    }
                                                                    .header_title {
                                                                        padding-top: 8%;
                                                                    }
                                                                    .nav {
                                                                        text-align: left;
                                                                        padding-left: 30%;
                                                                        line-height: 1.5em;
                                                                    }
                                                                }
                                                                
                                                                @media screen and (max-width: 360px) {
                                                                    .header_title {
                                                                        padding: 0;
                                                                        width: 100%;
                                                                        margin-left: 3%;
                                                                        text-align: left;
                                                                    }
                                                                    h1 {
                                                                        font-size: 1.3em;
                                                                    }
                                                                    .header_intro {
                                                                        font-size: 0.7em;
                                                                        text-align: left;
                                                                    }
                                                                    .header_nav {
                                                                        font-size: 0.9em;
                                                                        text-align: left;
                                                                        width: 100%;
                                                                    }
                                                                    .nav {
                                                                        padding: 0;
                                                                        display: inline;
                                                                        font-size: 0.9em;
                                                                        line-height: 1.3em;
                                                                        margin-left: 3%;
                                                                        margin: 0;
                                                                    }
                                                                }