    .accueil_header {
        width: 100%;
        background-color: $header_footer_color;
        display: flex;
        color: black;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        display: inline;
    }
    
    h1 {
        color: #CD381D;
    }