    .cosmetics_title,
    .house_cleaning_title {
        text-decoration: underline;
        &::before {
            content: "\273F";
        }
    }
    
    .warning {
        color: $font_color;
    }
    
    li {
        list-style: none;
    }
    
    .list_style {
        font-size: 0.9em;
        color: $font_color;
    }
    
    h3 {
        text-decoration: underline;
    }
    
    @media screen and (max-width:540px) {
        .recipe {
            padding-left: 6%;
        }
    }