        .cosmetics_title,
        .vericline_title {
            &::before {
                content: "\273F";
            }
        }
        
        .warning {
            color: $font_color;
        }
        
        li {
            list-style: none;
        }
        
        .list_style {
            font-size: 0.9em;
            color: $font_color;
        }