.btn {
    width: 25%;
    color: $font_color;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid $font_color;
    border-radius: 5px;
    background-color: $header_footer_color;
    padding: 4%;
}