.popup {
    width: 100%;
    margin: auto;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    &:target {
        visibility: visible;
        background-color: rgba($color: #509c50, $alpha: 0.7);
    }
}

.popup_image {
    width: 60%;
    margin: auto;
    .grafik {
        border-radius: 15px;
        margin: auto;
    }
}

.popup_h2 {
    padding-top: 25%;
    margin-left: 4%;
    &::before {
        content: "\273F";
    }
}

.popup_opening {
    color: black;
    text-decoration: black underline;
}