.cosmetics_wrapper {
    padding-top: 8%;
    padding-bottom: 15%;
    @include wrapper;
}

.house_cleaning_wrapper,
.contact_wrapper {
    padding-top: 15%;
    padding-bottom: 8%;
    @include wrapper;
}

@media screen and (max-width: 480px) {
    .cosmetics_wrapper {
        padding-top: 50%;
    }
}